.am-list-item .am-input-label {
    color: #333333 !important;
    font-size: 0.26rem !important;
    margin-left: 0.30rem !important;
    text-align: left !important;;
    white-space: nowrap !important;
    overflow: hidden !important;
}
.am-list-item .am-input-control input {
    color: #333333 !important;
    font-size: 0.26rem !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    width: 100% !important;
    border: 0 !important;
    background-color: transparent !important;
    line-height: 1 !important;
    box-sizing: border-box !important;
    padding: 0 30px !important;
}
.am-textarea-control textarea {
    font-size: 0.26rem !important;
    padding-left:0.30rem !important;
}

.am-list-item .am-input-label.am-input-label-5 {
    width: auto !important;
}

  


